@charset "utf-8";
@import "_mixin";
/* fonts */
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: local("Noto Sans KR"),
      url("../fonts/NotoSansKR-Light.eot") format("embedded-opentype"),
      url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
      url("../fonts/NotoSansKR-Light.woff") format("woff"),
      url("../fonts/NotoSansKR-Light.otf") format("opentype"),
      url("../fonts/NotoSansKR-Light.svg#NotoSansKR") format('svg');
}
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: local("Noto Sans KR"),
      url("../fonts/NotoSansKR-Regular.eot") format("embedded-opentype"),
      url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
      url("../fonts/NotoSansKR-Regular.woff") format("woff"),
      url("../fonts/NotoSansKR-Regular.otf") format("opentype"),
      url("../fonts/NotoSansKR-Regular.svg#NotoSansKR") format('svg');
}
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: local("Noto Sans KR"),
      url("../fonts/NotoSansKR-Bold.eot") format("embedded-opentype"),
      url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
      url("../fonts/NotoSansKR-Bold.woff") format("woff"),
      url("../fonts/NotoSansKR-Bold.otf") format("opentype"),
      url("../fonts/NotoSansKR-Bold.svg#NotoSansKR") format('svg');
}
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: local("Noto Sans KR"),
      url("../fonts/NotoSansKR-Black.eot") format("embedded-opentype"),
      url("../fonts/NotoSansKR-Black.woff2") format("woff2"),
      url("../fonts/NotoSansKR-Black.woff") format("woff"),
      url("../fonts/NotoSansKR-Black.otf") format("opentype"),
      url("../fonts/NotoSansKR-Black.svg#NotoSansKR") format('svg');
}

/* tag reset */
body, h1, h2, h3, ul, p, button, figure{padding: 0; margin: 0;}
h1, h2, h3{font-size: 100%;}
button{border: none; background: none; color: inherit; font-size: inherit; font-family: inherit; cursor: pointer;}
img{vertical-align: top;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
section, figure{display: block;}

/* common class */
.p_r{position: relative;}
.p_a{position: absolute;}
.p_f{position: fixed;}
.d_b{display: block;}
.d_n{display: none !important;}
.hidden{visibility: hidden;}
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.opacity{opacity: 0 !important;}
.visible{opacity: 1 !important; visibility: visible !important;}
.main_tit{
  h2{
    font-size: 70px; color: transparent; line-height: 1; font-weight: 900; text-align: center;
  }
  p{padding: 20px 0; line-height: 1.7; font-size: 18px;}
}
.sub_tit{
  h3, p{padding: 20px 35px;}
  h3{@include transition(all 0.3s);
    font-size: 55px; line-height: 1; font-weight: 900;
    &:hover{margin-top: 5px;}
  }
  p{
    line-height: 2; /*  width: 50%;  */ background:rgba(255, 255, 255, 0.3); border-radius: 0 30px 0 30px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
}
.btn_more_wrap{
  position: relative; z-index: 102; text-align: center;
  a, svg, .square{width: 150px; height: 40px;}
  a{
    @include translateX-50;
    font-size: 18px; position: absolute; top: 0; left: 50%; text-align: center; line-height: 40px; display: block;}
  .square{stroke-dasharray: 400 20; stroke-width: 7; fill: none; stroke: #f57e3c;stroke-dashoffset: -420;}
  &:hover a + svg .square, &:focus + svg .square{
    animation: square 1s ease 0s 1 normal forwards;
  }
}
.hover{
  @include transition(transform 0.3s); 
  position: absolute; bottom: -60px; right: -60px; width: 60px; height: 60px; z-index: 2; animation: hover 1s alternate-reverse infinite;
}
.photo_hover{
  position: relative; 
  div{
    @include transition(all 0.5s);
    position: absolute; top: 0; left: 0; backface-visibility: hidden;
    &.front{
      @include transform(rotateY(0deg));
    }
    &.back{
      @include transform(rotateY(-180deg));
    }    
  }
  &:hover .front, &.flip .front{
    @include transform(rotateY(180deg));
  }
  &:hover .back, &.flip .back{
    @include transform(rotateY(0deg));
  }
} 

/* fade 효과 */
.fade .fade_up, .fade .fade_down, .fade .fade_right, .fade .fade_left{
  @include transition(all 0.8s);
  opacity: 0;
}
.fade.on .fade_up, .fade.on .fade_down, .fade.on .fade_right, .fade.on .fade_left{
  @include transform(translate(0,0));
  opacity: 1;
}
.fade .fade_up{
  @include transform(translate(0,100px));
}
.fade .fade_down{
  @include transform(translate(0,-100px));
}
.fade .fade_right{
  @include transform(translate(-100px,0));
}
.fade .fade_left{
  @include transform(translate(100px,0));
}
.delay-3{
  @include transition-delay(0.3s);
}

body{font-family: NotoSansKR; font-size: 16px; font-weight: 400; color: #eee; background: #333; word-break: keep-all; /* overflow-x: hidden; */}
*{box-sizing: border-box;}
body.overflowy{overflow-y: hidden;}
body.overflowX{overflow-X: hidden;}

/* keyframe */
@keyframes blink {
  0%{border-color: transparent;}
  50%{border-color: #fff}
  100%{border-color: transparent;}
}
@keyframes typing {
  0%{width: 0%; opacity: 1;}
  40%{width: 100%; opacity: 1;}
  100%{width: 100%; opacity: 1;}
//   90%{width: 0%}
//   100%{width: 0%;}
}
@keyframes opacity {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes leftMove {
  0%{margin-left: 100%;}
  100%{margin-left: -50%;}
}
@keyframes rightMove {
  0%{margin-right: 100%;}
  100%{margin-right: -50%;}
}
@keyframes circle {
  0%{opacity: 1; transform: scale(1);}
  100%{opacity: 0; transform: scale(1.7);}
}
@keyframes arrow {
  0%{opacity: 0.5;}
  100%{opacity: 1;}
}
@keyframes square {
  0%{stroke-width: 10; stroke-dasharray: 80 500; stroke-dashoffset: -420; stroke: #fcb95e;}
  100%{stroke-width: 7; stroke-dasharray: 420; stroke-dashoffset: 0; stroke: #f57e3c;}
}
@keyframes square2 {
  0%{stroke-width: 10; stroke-dasharray: 80 500; stroke-dashoffset: -420; stroke: #ffdcdc;}
  100%{stroke-width: 7; stroke-dasharray: 420; stroke-dashoffset: 0; stroke: #ec8787;}
}
@keyframes stress {
  0%{
    @include transform(scale(1));
  }
  100%{
    @include transform(scale(1.1));
  }
}
@keyframes hover {
  0%{
    @include transform(translate(-30px, -30px));
  }
  100%{
    @include transform(translate(0, 0));
  }
}
@keyframes hover2 {
  0%{
    @include transform(translateY(-15px));
  }
  100%{
    @include transform(translateY(0));
  }
}
@keyframes rotateThumb {
  0%{
    @include transform(rotate(-10deg));
  }
  50%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}
<<<<<<< HEAD
@keyframes rotateSanta {
  0%{
    @include transform(rotate(-5deg));
    transform-origin: bottom;
  }
  100%{
    @include transform(rotate(0deg));
    transform-origin: bottom;
  }
}
@keyframes moveclouds { 
  0%{top: 0;}
  100%{top: 4169px;}
}
@keyframes sideWays { 
  0%{margin-left:0px;}
  100%{margin-left:100px;}
}
@keyframes move { 
  0%{right: 100px;}
  100%{right: 0;}
}
@keyframes santaSki {
  0%{left: 0; margin-top: 700px;}
  50%{left: 50%; margin-top: 800px;}
  100%{left: 100%; margin-top: 900px;}
}
@keyframes treeShake {
  0%{
    @include transform(rotate(-5deg));
  }
  3%{
    @include transform(rotate(5deg));
  }
  6%{
    @include transform(rotate(-5deg));
  }
  9%{
    @include transform(rotate(5deg));
  }
  10%{
    @include transform(rotate(0deg));
  }
  70%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}
@keyframes gift {
  0%{
    bottom: 30px; opacity: 1;
  }
  100%{
    bottom: -500px; opacity: 0;
  }
}
=======
>>>>>>> b1664d26fbe26216dbb4ab8cfc0adbee8bad853f
