body {
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 400;
  color: #eee;
  background: #222; }

/* tag reset */
body, p {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

button {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer; }

/* common class */
.p_r {
  position: relative; }

.d_n {
  display: none !important; }

/* face */
#face {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -32.5px;
  width: 65px;
  height: 50px;
  cursor: pointer; }
  #face .eyeball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #eee;
    position: absolute;
    top: 0; }
    #face .eyeball.left {
      left: 0; }
    #face .eyeball.right {
      right: 0; }
  #face .pupil {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: #222;
    top: 0;
    left: 0; }

/* cursor */
.cursor {
  position: absolute;
  z-index: 10000;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none; }

.first_cursor {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  background-color: #dfdd6a; }

.second_cursor {
  width: 300px;
  height: 300px;
  opacity: 0; }

/* #intro */
#intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  /* position: fixed; top: 0; left: 0; */
  height: 100vh;
  width: 100%;
  z-index: 100; }
  #intro .txt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px; }
    #intro .txt p {
      display: inline-block;
      /* border-right: 2px solid #222; */
      overflow: hidden;
      white-space: nowrap;
      /*  margin: 0 auto; */
      animation: typing 13s steps(60) forwards; }
    #intro .txt #txt2 {
      animation-delay: 5s;
      opacity: 0; }
    #intro .txt #txt3 {
      animation-delay: 7.8s;
      opacity: 0; }
    #intro .txt .stress {
      color: #ff3a17;
      font-size: 40px;
      font-weight: 700; }
  #intro p {
    font-size: 25px; }

@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #222; }
  100% {
    border-color: transparent; } }
@keyframes typing {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 1; } }
#cnt1 {
  height: 100vh;
  position: relative;
  overflow-x: hidden; }
  #cnt1 .txt_bg {
    font-weight: 900;
    font-size: 300px;
    color: #eee;
    -webkit-text-stroke: 4px #eee;
    -webkit-text-fill-color: transparent;
    opacity: 0.07; }
    #cnt1 .txt_bg :first-child {
      position: absolute;
      top: 8%;
      left: 0;
      animation: leftMove 9s linear infinite;
      margin-left: 100%; }
    #cnt1 .txt_bg :last-child {
      position: absolute;
      bottom: 8%;
      right: 0;
      animation: rightMove 9s linear infinite;
      margin-right: 100%; }
  #cnt1 .txt_front {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 60px;
    line-height: 1.7; }
@keyframes leftMove {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: -50%; } }
@keyframes rightMove {
  0% {
    margin-right: 100%; }
  100% {
    margin-right: -50%; } }
#cnt2 {
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
