/* fonts */
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: local("Noto Sans KR"), url("../fonts/NotoSansKR-Regular.eot") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype"), url("../fonts/NotoSansKR-Regular.svg#NotoSansKR") format("svg"); }
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: local("Noto Sans KR"), url("../fonts/NotoSansKR-Bold.eot") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype"), url("../fonts/NotoSansKR-Bold.svg#NotoSansKR") format("svg"); }
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: local("Noto Sans KR"), url("../fonts/NotoSansKR-Black.eot") format("embedded-opentype"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype"), url("../fonts/NotoSansKR-Black.svg#NotoSansKR") format("svg"); }
/* tag reset */
body, h1, h2, h3, ul, p {
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  font-size: 100%; }

button {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer; }

img {
  vertical-align: top; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

/* common class */
.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.p_f {
  position: fixed; }

.d_n {
  display: none !important; }

.hidden {
  visibility: hidden; }

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

body {
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 400;
  color: #eee;
  background: #333;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

body.overflowy {
  overflow-y: hidden; }

/* ipod */
.ipod {
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 1000;
  margin-left: -238.5px; }
  .ipod .btn_ipod .click {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    position: absolute;
    top: 20%;
    left: -5%;
    color: #333;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    box-shadow: 1px 1px 5px #333;
    font-size: 20px;
    font-weight: 700; }
    .ipod .btn_ipod .click::before, .ipod .btn_ipod .click::after {
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      z-index: -1;
      animation: circle 5s infinite forwards;
      transition: transform 0.3s; }
    .ipod .btn_ipod .click::after {
      animation-delay: 0.5s; }
    .ipod .btn_ipod .click:hover, .ipod .btn_ipod .click:focus {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      transform: scale(1.15); }
      .ipod .btn_ipod .click:hover::before, .ipod .btn_ipod .click:hover::after, .ipod .btn_ipod .click:focus::before, .ipod .btn_ipod .click:focus::after {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        transform: scale(1.15); }
  .ipod #ipodList {
    position: absolute;
    top: 41px;
    left: 47px;
    width: 395px;
    height: 297px;
    background: #fff;
    color: #222; }
    .ipod #ipodList .ipod_head, .ipod #ipodList .myList li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 20px; }
    .ipod #ipodList .ipod_head {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      background: linear-gradient(#fff, #555);
      border-bottom: 1px solid #222; }
      .ipod #ipodList .ipod_head h2 {
        font-size: 25px; }
      .ipod #ipodList .ipod_head .head_right {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-align-items: center;
        align-items: center; }
        .ipod #ipodList .ipod_head .head_right img {
          padding-right: 10px; }
        .ipod #ipodList .ipod_head .head_right .play {
          width: 30px; }
        .ipod #ipodList .ipod_head .head_right .battery {
          width: 35px; }
        .ipod #ipodList .ipod_head .head_right .btn_close img {
          width: 28px; }
    .ipod #ipodList .myList li {
      position: relative;
      font-size: 25px;
      font-weight: 700;
      color: #000; }
      .ipod #ipodList .myList li::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        content: "";
        display: block;
        width: 13px;
        height: 13px;
        border-top: 4px solid #222;
        border-right: 4px solid #222;
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -7.5px; }
      .ipod #ipodList .myList li.on {
        background: linear-gradient(#76C5DD, #0485C2);
        color: #fff; }
        .ipod #ipodList .myList li.on::before {
          border-color: #fff; }
      .ipod #ipodList .myList li a {
        display: block;
        width: 100%;
        height: 50px; }

/* cursor */
.cursor {
  position: absolute;
  z-index: 10000;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none; }

.first_cursor {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  background-color: #dfdd6a; }

.second_cursor {
  width: 300px;
  height: 300px;
  opacity: 0; }

/* #intro */
#intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: none; }
  #intro .txt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px; }
    #intro .txt p {
      display: inline-block;
      /* border-right: 2px solid #fff; */
      overflow: hidden;
      white-space: nowrap;
      /*  margin: 0 auto; */
      animation: typing 7.5s steps(60) forwards; }
    #intro .txt #txt2 {
      animation-delay: 2.8s;
      opacity: 0; }
    #intro .txt #txt3 {
      animation-delay: 3.8s;
      opacity: 0; }
    #intro .txt #txt4 {
      animation: typing 10s steps(60) forwards; }
    #intro .txt .stress {
      color: #ff3a17;
      font-size: 40px;
      font-weight: 700; }
  #intro p {
    font-size: 25px; }

@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #333; }
  100% {
    border-color: transparent; } }
@keyframes typing {
  0% {
    width: 0%;
    opacity: 1; }
  40% {
    width: 100%;
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 1; } }
#cnt1 {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* display:  none; */ }
  #cnt1 .txt_bg {
    font-weight: 900;
    font-size: 300px;
    color: #eee;
    -webkit-text-stroke: 4px #eee;
    -webkit-text-fill-color: transparent;
    opacity: 0.07; }
    #cnt1 .txt_bg :first-child {
      position: absolute;
      top: 8%;
      left: 0;
      animation: leftMove 9s linear infinite;
      margin-left: 100%; }
    #cnt1 .txt_bg :last-child {
      position: absolute;
      bottom: 8%;
      right: 0;
      animation: rightMove 9s linear infinite;
      margin-right: 100%; }
  #cnt1 .txt_front {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 60px;
    line-height: 1.7; }
@keyframes leftMove {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: -50%; } }
@keyframes rightMove {
  0% {
    margin-right: 100%; }
  100% {
    margin-right: -50%; } }
@keyframes circle {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.7); } }
#cnt2 {
  height: 100vh;
  position: relative;
  border: 1px solid #f00;
  /* display: none */ }
  #cnt2 strong {
    margin: 0 auto;
    padding-top: 100px;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 400; }
  #cnt2 .earphone {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: calc(50% + 60px);
    right: 400px; }

#cnt3 {
  background: linear-gradient(#333 10%, #888 20%, #fcf8f1 30%, #fcb95e 50%, #f57e3c 100%); }
  #cnt3 .intro_sulwhasoo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh; }
    #cnt3 .intro_sulwhasoo .txt_sulwhasoo strong {
      color: #fcb95e; }
    #cnt3 .intro_sulwhasoo .txt_sulwhasoo h2 {
      font-size: 55px;
      background: linear-gradient(225deg, #fcf8f1 10%, #fcb95e 50%, #f57e3c 100%);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      line-height: 1;
      font-weight: 900; }
    #cnt3 .intro_sulwhasoo .txt_sulwhasoo p {
      padding-top: 10px;
      color: #fff; }
    #cnt3 .intro_sulwhasoo .computer {
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65);
      transform: scale(0.65);
      position: relative;
      width: 1000px;
      height: 826px; }
      #cnt3 .intro_sulwhasoo .computer .sulwhasoo_cnt {
        position: absolute;
        top: 37px;
        left: 41px; }
  #cnt3 .monitor {
    position: absolute;
    top: 37px;
    left: 41px;
    width: 1000px;
    height: 579px;
    z-index: 10; }
  #cnt3 .monitor_wrap {
    position: absolute;
    top: 37px;
    left: 41px;
    width: 917px;
    height: 507px;
    overflow: hidden; }
  #cnt3 .up_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.brand_txt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  height: 100vh; }
  .brand_txt h3 {
    font-size: 55px;
    background: linear-gradient(355deg, #fcf8f1 10%, #fcb95e 50%, #f57e3c 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1;
    font-weight: 900; }
  .brand_txt p {
    line-height: 1.5;
    color: #222;
    width: 50%; }

.newsletter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly; }
  .newsletter h3 {
    font-size: 55px;
    background: linear-gradient(225deg, #f57e3c 5%, #fcb95e 50%, #fcf8f1 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1;
    font-weight: 900; }

#cnt4 {
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
